{% extends "base.html.twig" %} {% block title %}Ajouter un utilisateur{%
endblock %} {% block importmap %} {# do NOT call parent() #}
{{ importmap(["app", "registration"]) }}
{% endblock %}{% block body %} {% include "nav/AdminNav.html.twig" %}
<main>
  <h1>Créer un Utilisateur</h1>
  {{ form_start(form,{'attr': {'class': 'formMdp'}}) }}
  <div class="d-flex flex-row">
    <div class="d-flex flex-column card-section">
      <h3>Info Utilisateur</h3>
      <div class="m-3">
        {{
          form_label(form.userInfo.nom, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.userInfo.nom,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.userInfo.nom) }}
      </div>
      <div class="m-3">
        {{
          form_label(form.userInfo.prenom, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.userInfo.prenom,{'attr': {'class': 'form-control'}})
        }}
        {{ form_errors(form.userInfo.prenom) }}
      </div>
      <div class="m-3">
        {{
          form_label(form.userInfo.dateDeNaissance, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.userInfo.dateDeNaissance.year, {'attr': {'class': 'formDate' }}) }}
        {{ form_widget(form.userInfo.dateDeNaissance.month, {'attr': {'class': 'formDate'}}) }}
        {{ form_widget(form.userInfo.dateDeNaissance.day, {'attr': {'class': 'formDate'}}) }}
        {{ form_errors(form.userInfo.dateDeNaissance) }}
      </div>
      <div class="m-3">
        {{
          form_label(form.email, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
      </div>
    </div>
    <div class="d-flex flex-column card-section">
      <h3>Info Afpar</h3>
      <div class="m-3">
        {{
          form_label(form.statut, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.statut,{'attr': {'class': 'form-select'}}) }}
      </div>
      <div class="m-3">
        {{
          form_label(form.userInfo.promo, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.userInfo.promo,{'attr': {'class': 'form-select'}})
        }}
      </div>
      <div class="m-3">
        {{
          form_label(form.delegue, null, {
            label_attr: { class: "form-label" }
          })
        }}
        {{ form_widget(form.delegue,{'attr': {'class': 'form-check-input'}}) }}
      </div>
    </div>
  </div>
  <div >
    <h3>Site</h3>
    <p>
      L'identifiant doit faire au moins 5 lettres avoir au moins une lettre
      majuscule, une lettre miniscule et un chiffre.
    </p>
    {{ form_label(form.identifiant) }}
    {{ form_widget(form.identifiant) }}
    {{ form_errors(form.identifiant) }}
    <p>
      Le mot de passe doit faire au moins 7 lettres avoir au moins une lettre
      majuscule, une lettre miniscule, un chiffre et un charactére spécial.
    </p>
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}
    <input type="checkbox" onclick="myFunction()" />
  </div>
  <button type="reset">Reset</button>
  <button type="submit">Valider</button>
  {{ form_end(form) }}
</main>

{% endblock %}
