{% extends 'base.html.twig' %} {% block title %}Profil{% endblock %} {% block
importmap %} {# do NOT call parent() #}

{{ importmap(["app", "profil"]) }}
{% endblock %} {% block body %} {% include "nav/UserNav.html.twig" %}

<main>
  <h1>Mon Profil</h1>

  {% for message in app.flashes('success') %}
  <div role="alert" class="alert text-center" id="successMsg">
    {{ message }}
  </div>
  {% endfor %}
  <div class="d-flex flex-lg-row flex-column">
    <div id="infoPerso">
      <h3>Info Personnel</h3>
      <div class="d-flex flex-column justify-content-evenly">
        <div class="infoColumn">
          <label>Nom</label>
          <p>{{ user.userInfo.nom }}</p>
        </div>
        <div class="infoColumn">
          <label>Prénom</label>
          <p>{{ user.userInfo.prenom }}</p>
        </div>
        <div class="infoColumn">
          <label>Date de Naissance</label>
          <p>{{ user.userInfo.dateDeNaissance | date('d-m-Y') }}</p>
        </div>
        <div class="infoColumn">
          <label>Email</label>
          <p>{{ user.email }}</p>
        </div>
        <div class="infoColumn">
          <label>Identifiant</label>
          <p>{{ user.identifiant }}</p>
        </div>
        <div class="infoColumn">
          <label>Mot de passe</label>
          <button id="btnModifier">Modifier</button>
        </div>
      </div>
    </div>
    <div id="infoAfpar">
      <h3>Info Afpar</h3>
      <div class="d-flex flex-column justify-content-around">
        <div class="infoColumn">
          <label>Section</label>
          <p>{{ user.userInfo.promo.section.nomSection }}</p>
        </div>
        <div class="infoColumn">
          <label>Promo</label>
          <p>{{ user.userInfo.promo.nomPromo }}</p>
        </div>
        <div class="infoColumn">
          <label>Date de Début</label>
          <p>{{ user.userInfo.promo.dateDebut | date('d-m-Y') }}</p>
        </div>
        <div class="infoColumn">
          <label>Date de Fin</label>
          <p>{{ user.userInfo.promo.dateFin | date('d-m-Y') }}</p>
        </div>
        <div class="infoColumn">
          <label>Somme Total Dépensé</label>
          <p>{{ user.userInfo.montantGlobal }}</p>
        </div>
        <div class="infoColumn">
          <label>Délégué</label>
          <div id="delegue">
            <input type="checkbox" id="delegueBtn" disabled {% if delegue ==
            true %} checked {% endif %} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <p id="textDisclaimer">
    Si vous constater que ces informations sont érronés ou qu'elles ont changer,
    veuillez contacter l'administration.
  </p>
</main>
{% include "nav/footer.html.twig" %} {% endblock %}
