<nav class="d-flex flex-row">
  <a href="{{ path('redirect') }}"
    ><img src="{{ asset('image/afparLogoDroit.png') }}" alt=""
  /></a>
  <div class="d-flex flex-row" id="nav-link">
    <div class="dropdown">
      <a href="{{ path('admin_menu') }}" class="d-flex flex-column"
        >Gérer les Menus<i class="fas fa-arrow-down"></i
      ></a>
      <div class="dropdown-content">
        <a href="{{ path('admin_menu_creer') }}">Créer un Menu</a>
        <a href="{{ path('admin_consultation') }}">Consulter les Menus</a>
        <a href="#">Bloquez la Réservation</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="{{ path('admin_recap') }}">Récapitulatif des Reservations</a>
    </div>
    <div class="dropdown">
      <a href="{{ path('admin_gestion') }}" class="d-flex flex-column"
        >Gérer les Utilisateurs<i class="fas fa-arrow-down"></i
      ></a>
      <div class="dropdown-content">
        <a href="{{ path('security_registration') }}">Créer un Utilisateur</a>
        <a href="{{ path('admin_gestion_user') }}">Consulter un Utilisateur</a>
        <a href="#">Gérer les Sections</a>
      </div>
    </div>
  </div>
  <div id="userBadge">Administration</div>
  <a href="{{ path('logout') }}"><button id="deco">Se déconnecter</button></a>
</nav>
